<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>

        <body class="index-page">
            <div class="container">
                <div  class="content">
                    <div class="frame-login">
                        <div class="position" id="login-form">
                                <div class="left-login">
                                    <div class="login-title text-left">
                                        <h2><strong>Acesse sua conta</strong></h2>
                                    </div>
                                    <div class="login-body text-center">
                                        <div class="input-container">
                                            <input type="text" id="username" required>
                                            <label for="username">Login</label>
                                        </div>
                                        <div class="input-container">
                                            <input type="password" id="password" required>
                                            <label for="password">Senha</label>
                                        </div>
                                        <form ><button type="submit" class="btn btn-entrar">Entrar</button></form>
                                        <br>
                                        <p>ou</p>
                                        <button class="btn"><svg class="btn-icon"xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 488 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/></svg>Continuar com Google</button>
                                        <button class="btn"><svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>Continuar com Facebook</button>
                                    </div>
                                </div>
                            <div class="right-login">
                                <img src="imgs/logo.png" alt="Logo">
                            </div>
                        </div>
                        <div class="footer-login">
                            <a href="">Esqueci minha senha</a>
                            <a href="signup">|  Não tenho cadastro</a>
                        </div> 
                    </div>
                </div>
            </div>
        </body>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="/js/login.js"></script>
    