<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Veridi Oculi</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <div id="login-form" class="login-form">
                <h2 class="mb-4 center-text">Login</h2>
                <form>
                    <div class="form-group">
                        <label for="username">Usuário</label>
                        <input type="text" class="form-control" id="username" placeholder="Digite seu usuário">
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
                    </div>
                    <div class="center-text">
                        <button type="submit" class="btn btn-entrar">Entrar</button>
                    </div>
                    <div class="senha">
                        <a href="#">Esqueceu sua senha?</a>
                    </div>
                    <div class="card">
                        <div class="cont">
                            <h4>Não possui uma conta?</h4>
                            <p><a href="#">Cadastre-se</a> para ter acesso à análises avançadas!</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="logo-container">
                <img src="imgs/logo.png" class="logo">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const loginForm = document.getElementById('login-form');

            if (loginForm) { 
                loginForm.addEventListener('submit', async function (event) {
                    event.preventDefault();
                    
                    const usernameInput = document.getElementById('username').value;
                    const passwordInput = document.getElementById('password').value;
                    console.log(usernameInput,passwordInput)
                    try {
                        const response = await fetch('/api/users/login', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                login: usernameInput,
                                senha: passwordInput,
                            }),
                        });

                        if (response.ok) {
                            // Login bem-sucedido, redirecione para /home
                            window.location.href = '/home';
                        } else {
                            // Exibe mensagem de erro
                            const errorMessage = await response.text() || 'Erro desconhecido';
                            alert(errorMessage);
                        }
                    } catch (error) {
                        console.error('Erro durante o login:', error);
                        // Exibe uma mensagem de erro genérica
                        alert('Erro durante o login. Por favor, tente novamente.');
                    }
                });
            }
        });
    </script>

</body>

</html>